body {
    background-image: url(img/fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 100px 80px 100px;
    text-align: justify;
}

img {
    border-radius: 80px;
    box-shadow: 0px 0px 10px rgb(122, 122, 122);
    position: center;
    margin-top: 50px;
}

.social {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0;
}

.social img {
    width: 30px;
    margin-top: 25px;
}

.linkedinic {
    margin-left: 0px;
    margin-right: 60px;
}

.perfilcv {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    font-size:25px;
    margin-bottom: 12px;
    letter-spacing: 1px;
    font-weight: 70px;
}

h2, h4 {
    font-family: 'Arial', Times, serif;
    font-size: 17px;
    font-weight: 10;
    margin-top: -8px;
    margin-bottom: 0px;
}

h3 {
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

h5 {
    font-family: sans-serif;
    font-weight: 100px;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.name {
    margin-right: 3px;
}

.ref1 {
    margin-right: 108px;
}

.ref2 {
    margin-right: 151px;
}

.ref3 {
    margin-right: 74px;
}

.ref4 {
    margin-right: 74px;
}

.ref5 {
    margin-right: 58px;
}

.ref6 {
    margin-right: 101px;
}